.search-form {
  padding: 0 70px;
  margin: 70px 0 48px;
  display: flex;
  flex-direction: column;
}

.search-form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #424242 solid;
  padding-bottom: 13px;
  margin-bottom: 33px;
}

.search-form__input {
  outline: none;
  background-color: transparent;
  width: 80%;
  padding: 0;
  margin: 0;
  color: #8B8B8B;
  border: none;
  font-size: 28px;
}

.search-form__button {
  margin: 0;
  padding: 0;
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
  background: center center no-repeat url("../../../images/find.svg");
  transition: opacity .3s linear;
}

.search-form__button:hover {
  opacity: .5;
}

.search-form__toggle {
  display: flex;
  align-items: center;
  gap: 14px;
}

.search-form__checkbox {
  --active: #444;
  --active-inner: #3DDC84;
  --disabled-inner: rgb(122, 122, 122);
  --focus: 2px rgba(39, 94, 254, .3);
  --border: #444;
  --border-hover: #3DDC84;
  --background: #202020;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background .3s, border-color .3s;
  padding: 0;
  width: 36px;
  height: 26px;
  border-radius: 16px;
  box-shadow: 0 2px 5px #000;
}

.search-form__checkbox::after {
  content: "";
  display: block;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
  opacity var(--d-o, 0.2s);
  left: 2px;
  top: 3.5px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background: var(--ab, var(--disabled-inner));
  transform: translateX(var(--x, 0));
}

.search-form__checkbox_on {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  --ab: var(--active-inner);
  --x: 14px;
}

.search-form__checkbox:hover {
  --bc: var(--border-hover);
}

.search-form__text {
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .search-form {
    justify-content: right;
    margin: 80px 0 61px;
    padding: 0 30px;
  }

  .search-form__toggle {
    justify-content: right;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    justify-content: center;
    margin: 70px 0 51px;
    padding: 0 14px;
  }

  .search-form__input {
    font-size: 18px;
  }
}