.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  inset: 0 0 0 32.5%;
  padding: 159px 0 92px;
  background-color: #202020;
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .4s;
}

.side-bar_visible {
  visibility: visible;
  opacity: 1;
}

.side-bar__close {
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 22.5px;
  right: 22.5px;
  width: 22px;
  height: 22px;
  background: center center no-repeat url("../../images/close.svg");
  transition: opacity .4s ease-in;
}

.side-bar__close:hover {
  opacity: .6;
}

.side-bar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.side-bar__button {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .4s ease-in;
}

.side-bar__container > .side-bar__button:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}

.side-bar__account {
  padding: 0;
  margin: 0;
}

.side-bar__img {
  padding: 8px;
  width: 11.5px;
  height: 14px;
  background-color: #313131;
  border-radius: 4px;
}

.side-bar__button_profile {
  display: flex;
  gap: 17px;
}

@media screen and (max-width: 767px) {
  .side-bar {
    inset: 0;
  }
}