.cards {
  list-style: none;
  padding: 70px 70px 166px;
  display: grid;
  justify-content: center;
  gap: 32px;
  grid-template-columns: repeat(3, 360px);
}

.text {
  justify-self: center;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .cards {
    padding: 70px 30px 196px;
    grid-template-columns: repeat(2, 342px);
    gap: 35px 24px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    padding: 40px 10px 196px;
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
  }
}